.label {
  margin-bottom: 0.8rem;
  font-weight: 600;
  font-size: 15px;
  background: #1d5ad4;
  padding: 13px;
  color: #ffff;
  width: 330px;
  border-radius: 5px;
  margin-top: 20px;
}
.input-group {
  margin-bottom: 2rem;
  margin: 1rem;
  height: 300px;
  overflow-y: auto;
}
.label-range {
  margin-bottom: 2.5rem;
}
.input-group-price{
  margin-bottom: 2rem;
  overflow-y: auto;
}
.input-group-price-range {
  margin-bottom: 2rem;
  position: absolute !important;
}
.icons {
  margin-left: 180px;
}
.icons-bill {
  margin-left: 150px;
}
.horizontal-line {
  margin-bottom: 0.5rem;
}
.input-group-university{
   margin-bottom: 2rem;
  margin: 1rem;
  height: 200px;
  overflow-y: auto;
}