.label{
    margin-bottom: .8rem;
    font-weight: 600;
    font-size: 20px;
    background: #1D5AD4;
    padding: 8px;
    color: #ffff;
}
.input-group{
    margin-bottom: 2rem;
    margin: 0.2rem;
    
}
.label-range{
    margin-bottom: 2.5rem;
}
