@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
.home{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 55px;
    /* background-color: orange; */
}

.home_panelList-wrap,.home_panel-wrap,.home_list-wrap{
    overflow-y: auto;
}
.home_panelList-wrap{
    display: flex;
    flex: 1;
    /* background-color: blue; */
}
.home_panel-wrap{
    flex-basis: 380px;
}
.home_list-wrap{
    flex: 1;
  
}


.data_found_wrapper{
    background-color: #1D5AD4;
    padding: 10px;
    color: #fff;
    position: absolute;
    width: 100%;
    z-index: 99999;

    border-radius: 5px;
    margin-top: 10px;
   
}
.result_found{
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif !important;
}