.searchBar-wrap{
    display: flex;
    align-items: center;
    padding: 5px;
    
}
.searchBar-icon{
    
    color: rgba(0,0,0,0.26);
    margin-right: 2rem;
}
.searchBar-wrap input{
    font-size: 1.5rem;
    width: 20%;
    background-color: #fdfcfc;
    padding: 5px;
    outline: none;
    border: none;
}
.searchBar-wrap input::placeholder{
    color: rgba(0,0,0, 0.26);
} 