@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
}

body {
  font-family: 'Poppins', sans-serif !important;
}

input{
   font-family: 'Poppins', sans-serif;
}
/* // chrome safari and opera */
::-webkit-scrollbar{
  display: none;
}
 
/* IE and Edge and firefox */
body{
  -ms-overflow-style: none;   
  scrollbar-width: none;
}